---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1>Planetary Playing Cards</h1>

<main> 
        <div class="module sun">
            <div class="circle sun"></div>
            <div class="text sun">
                <div class="planet-name">Sun</div>
                <div class="additional-info">Type G2V</div>
            </div>
        </div>
        <div class="module mercury">
            <div class="circle mercury"></div>
            <div class="text">
                <div class="planet-name">Mercury</div>
                <div class="additional-info">0.39 AU</div>
            </div>
        </div>
        <div class="module venus">
            <div class="circle venus"></div>
            <div class="text">
                <div class="planet-name">Venus</div>
                <div class="additional-info">0.72 AU</div>
            </div>
        </div>
        <div class="module earth">
            <div class="circle earth"></div>
            <div class="text">
                <div class="planet-name">Earth</div>
                <div class="additional-info">1.0 AU</div>
            </div>
        </div>
        <div class="module mars">
            <div class="circle mars"></div>
            <div class="text">
                <div class="planet-name">Mars</div>
                <div class="additional-info">1.52 AU</div>
            </div>
        </div>
        <div class="module jupiter">
            <div class="circle jupiter"></div>
            <div class="text">
                <div class="planet-name">Jupiter</div>
                <div class="additional-info">5.20 AU</div>
            </div>
        </div>
        <div class="module saturn">
            <div class="circle saturn"></div>
            <div class="text">
                <div class="planet-name">Saturn</div>
                <div class="additional-info">9.58 AU</div>
            </div>
        </div>
        <div class="module uranus">
            <div class="circle uranus"></div>
            <div class="text">
                <div class="planet-name">Uranus</div>
                <div class="additional-info">19.22 AU</div>
            </div>
        </div>
        <div class="module neptune">
            <div class="circle neptune"></div>
            <div class="text">
                <div class="planet-name">Neptune</div>
                <div class="additional-info">30.05 AU</div>
            </div>
        </div> 
</main>