---
layout: layout.liquid
title: 11ty Boilerplate
---
<h1>Planetary Playing Cards</h1>

<main> 
        <div class="module sun">
            <div class="circle sun"></div>
            <div class="text sun">Sun</div>
        </div>
        <div class="module mercury">
            <div class="circle"></div>
            <div class="text">Mercury</div>
        </div>
        <div class="module venus">
            <div class="circle"></div>
            <div class="text">Venus</div>
        </div>
        <div class="module earth">
            <div class="circle"></div>
            <div class="text">Earth</div>
        </div>
        <div class="module mars">
            <div class="circle"></div>
            <div class="text">Mars</div>
        </div>
        <div class="module jupiter">
            <div class="circle"></div>
            <div class="text">Jupiter</div>
        </div>
        <div class="module saturn">
            <div class="circle"></div>
            <div class="text">Saturn</div>
        </div>
        <div class="module uranus">
            <div class="circle"></div>
            <div class="text">Uranus</div>
        </div>
        <div class="module neptune">
            <div class="circle"></div>
            <div class="text">Neptune</div>
        </div> 
</main>