:root {
    --averys_favorite_color: pink;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--averys_favorite_color);
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

h1 {
    margin-left: 10px;
    text-align: left;
    font-size: 7em;
    letter-spacing: -2px;
    color: pink;
}

main {
    margin-top: 50px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Adjust the number of columns as needed */
    grid-auto-rows: 300px;
    gap: 40px;
}

.module {
    background-color: pink;
    border-radius: 20px;
}

.module.sun {
    grid-column: span 2; /* Make the Sun module span 2 columns */
    grid-row: span 2; /* Make the Sun module span 2 rows */
}